*.img
cli
log.txt
_ci-configs/*

# IDE directories
.idea
.vscode
sonobuoy*

# gocli build artifacts
cluster-provision/gocli/build/cli*
cluster-provision/gocli/cover.out

# image builder
*.qcow2
cluster-provision/images/vm-image-builder/*_build
